/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Main characteristics */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
    background-color: #b6b8b6;
}

/* Header and navigation style */
header {
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    top: 0;
    background-color: black;
}

header h1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: lightseagreen;
    font-family: 'Segoe Print';
    font-size: 40px;
    font-weight: bolder;
    margin: 15px 0;
    padding-right: 5px;
    width: 20%;
}

header nav {
    margin-top: 40px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 10px 10px;
    width: auto;    
}

/* My favorite trick ;) */
span {
    opacity: 50%;
}

header nav ul li a {
    border-bottom: 3px solid lightseagreen;
    margin-right: 15px;
    padding: 10px 20px;
    color: aqua;    
    font-size: 26px;  
    text-decoration: none;
    text-shadow: 0 0 10px rgb(32, 178, 170);
}

header nav ul li a:hover {
    border-bottom: 3px solid rgb(69, 216, 69);
}

/* Intro Image section */
section {
    display:flex; 
}

.hero {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
}

.hero img {
    width: 100%;
}

/* Quote of the day :) */
.cool p {
    position: absolute;
    margin-top: 135px;
    margin-left: 170px;
    font-size: 24px;
    background-color: lightseagreen;
    padding: 10px;
}

/* Aside Headers */
.heads {
    display: flex;
    justify-content: flex-end ;
    width: 20%;
    padding: 15px;
    font-size: 35px;
    border-right: 3px solid darkblue;
    text-align: right;
}

/* About me section */
article {
    display: flex;
    margin: 25px auto;
    font-size: large;
    line-height: 1.3;
}

.about-me {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 25px;
    width: 75%;
}

/* Working projects */
.work {
    position: relative;
    width: 70%;
    margin: 15px 25px;    
    padding: 10px;
}

.work ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px;
}

.work ul li {
    display: flex;
    margin: 10px;
    border: 3px solid lightseagreen;
    opacity: 60%;
}

.work img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.work ul li:hover {
    opacity: 100%;
}

/* Bold titles */
strong {
    font-size: 20px;
}

.work ul li p {
    margin-top: 10px;
    position: absolute;
    z-index: 9;
    text-align: left;
    font-size: 12px;
    padding: 10px;
    width: 18%;
    background-color: rgba(32,178,170,0.7);        
}

/* Footer section */
footer {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.contact {
    display: flex;
    align-items: center;
    width: 70%;    
}

footer ul {
    display: flex;
    flex-wrap: wrap;
}

footer ul li {
    list-style: none;
}

footer ul li a {    
    border-bottom: 3px solid darkblue;
    margin-right: 15px;
    padding: 10px 20px;
    font-size: 1.55vw; 
    text-decoration: none;
    text-shadow: 0 0 10px rgb(0, 0, 139);    
}

footer ul li a:hover {
    border-bottom: 3px solid rgb(230, 137, 16);
}


/* Smaller screen adjustments */
@media screen and (max-width: 980px) {    
   
    .work ul li img {
         width: 100%; 
    }

    .about-me {
        font-size: x-large;
    }
}